PORT=4000
DATABASE_URL=postgresql://postgres:fjalëkalimi@localhost:5432/fcmalisheva
STRIPE_SECRET_KEY=sk_test_yourkey
CONTACT_EMAIL=info@fcmalisheva.com
NEXT_PUBLIC_API_URL=http://localhost:4000/api

# Admin Panel
ADMIN_USER=admin
ADMIN_PASS=admin123
JWT_SECRET=ndrysho_kete_sekret_ne_production
